!!!
%html
  %head
    %title iyswim

    %link{rel: "stylesheet", href: "/foundation-5.3.3/css/normalize.css"}
    %link{rel: "stylesheet", href: "/foundation-5.3.3/css/foundation.min.css"}
    %link{rel: "stylesheet", href: "/styles/application.css"}
  %body
    %h1 Heya!

    =yield

    %script{src: "/javascripts/jquery-2.1.1.min.js"}
    %script{src: "/foundation-5.3.3/js/foundation.min.js"}
    %script{src: "/javascripts/three.min.js"}
    %script{src: "/javascripts/application.js"}
